*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-bg-page: hsl(210, 46%, 95%);
  --color-primary: hsl(214, 17%, 51%);
  --color-accent: hsl(217, 19%, 35%);

  /* Typography */
  --font-base: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --fs-title: 20px;
  --fs-body: 16px;
  --fs-meta: 14px;

  /* Spacing */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: var(--space-lg);
  background-color: var(--color-bg-page);
}

.card {
  position: relative;
  width: min(730px, 100%);
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.12);
}

.card_media {
  height: 300px;
}

.card_img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card_title {
  margin: 30px 30px 0px 30px;
  font-size: var(--fs-title);
  color: var(--color-accent);
}

.card_desc {
  margin: 10px 30px 10px 30px;
  line-height: 1.5;
  font-size: var(--fs-body);
  color: var(--color-primary);
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  gap: 16px;
}

.author_info {
  padding: 0px 10px 10px 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.author_meta p {
  margin: 4px;
}

.card_author {
  display: flex;
  width: 50px;
  border-radius: 30px;
}

.author_name {
  font-size: var(--fs-body);
  font-weight: 800;
  color: var(--color-accent);
}

.author_date {
  font-size: var(--fs-meta);
  color: var(--color-primary);
}
.share-btn {
  width: 40px;
  height: 40px;
  background: var(--color-bg-page);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.share-wrapper {
  position: static;
}

.share-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 70px;

  display: flex;
  align-items: center;
  gap: 18px;

  padding: 0 30px;
  background: #48556a;
  border-radius: 0 0 14px 14px;
  color: var(--color-primary);
  font-size: 13px;
  letter-spacing: 4px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.25s ease;
  z-index: 1;
}

.share-panel::after {
  display: none;
}

.share-wrapper.is-open .share-panel {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.card_footer {
  position: relative;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    gap: 30px;
  }
  .card_media {
    width: 100%;
    height: auto;
  }

  .share-panel {
    width: auto;
    height: auto;

    left: auto;
    right: 0;
    bottom: 56px;
    padding: 14px 30px;
    border-radius: 10px;
    transform: translateY(10px);
  }

  .share-panel::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -6px;
    right: 18px;
    width: 12px;
    height: 12px;
    background: #48556a;
    transform: rotate(45deg);
  }
}
